* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.product-item {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}
.product-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product-detail img {
  width: 50%;
  object-fit: cover;
}
.product-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
