<h1>Recuperar contraseña</h1>

<form id="forgotPasswordForm">

  <input type="email" name="email" placeholder="Ingrese su correo" required />

  <button type="submit">
    Enviar correo de recuperación
  </button>

</form>

<script src="/js/forgotPassword.js"></script>