<div>
  <h1>Productos</h1>

  <form method="GET" action="/products" class="filters-form">
    <select name="query">
      <option value="">Todas las categorías</option>
      <option value="Periféricos">Periféricos</option>
      <option value="Laptops">Laptops</option>
      <option value="Componentes">Componentes</option>
      <option value="Webcams">Webcams</option>
      <option value="Accesorios">Accesorios</option>
    </select>

    <select name="sort">
      <option value="">Ordenar precios</option>
      <option value="asc">Precio menor a mayor</option>
      <option value="desc">Precio mayor a menor</option>
    </select>

    <button type="submit">Filtrar</button>
  </form>

  <hr />

  <div class="products-grid">
    {{#each products}}
      {{> productCard this showActions=true showDetailButton=true}}
    {{/each}}
  </div>

  <div class="pagination">
    {{#each links}}
     <a href="{{this.link}}">{{this.number}}</a>
    {{/each}}
  </div>
</div>
