<div
  class="product-detail"
  data-stock="{{product.stock}}"
  data-id="{{product._id}}"
>
  <div class="product-detail">

    <!-- IZQUIERDA: CARD -->
    <div class="detail-card">
      {{> productCard product showDescription=true showActions=false showDetailButton=false}}
    </div>

    <!-- DERECHA: ACCIONES -->
    <div class="product-actions">
      <div class="quantity-control">
        <button onclick="decreaseQuantity()">-</button>
        <span id="quantity">1</span>
        <button onclick="addQuantity()">+</button>
      </div>

      <button class="btn-add" onclick="addToCartDetail()">
        Agregar al carrito
      </button>
    </div>

  </div>
</div>

<script src="/js/product.js"></script>