<form action="/api/sessions/resetpassword/{{token}}" method="POST">
  <input
    type="password"
    name="password"
    placeholder="Nueva Contraseña"
    required
  />
  <button type="submit">
    Cambiar contraseña
  </button>
</form>