<h1>Restablecer contraseña</h1>

<form id="resetPasswordForm">

  <input
    type="password"
    name="password"
    placeholder="Nueva contraseña"
    required
  />

  <button type="submit">
    Cambiar contraseña
  </button>

</form>

<script src="/js/resetPassword.js"></script>