<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}} - My Ecommerce</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>

    <nav class="navbar">
      <div class="nav-container">

        <div class="nav-logo">
          <a href="/">My Ecommerce</a>
        </div>

        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/products">Productos</a></li>
          {{#if user}}
            <li><a href="/carts/{{user.cart}}">Carrito</a></li>
            <li><a href="/profile">Perfil</a></li>
          {{else}}
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Registro</a></li>
          {{/if}}
        </ul>

      </div>
    </nav>

    <main class="main-container">
      {{{body}}}
    </main>
    <Script src="/js/cart.js" /></Script>

  </body>
</html>