<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}} - My Ecommerce</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>

    <nav class="navbar">
      <div class="nav-container">

        <div class="nav-logo">
          <a href="/">My Ecommerce</a>
        </div>

        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/cart">Carrito</a></li>
        </ul>

      </div>
    </nav>

    <main class="main-container">
      {{{body}}}
    </main>

  </body>
</html>